@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');
*{
    font-family: 'Geologica', sans-serif;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#debug-icon{
    display: none !important;
}
:root{
    --header-height: 2.5rem;
    --nav-width: 68px;
    --primary: #4A1B9D;
    --primary-light: #AFA5D9;
    --white-color: #F7F6FB;
    --z-fixed: 100
}
.login.container-fluid{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    backdrop-filter: blur(10px);
}
section.login.container-fluid::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: var(--primary);
    opacity: .85;
    z-index: -1;
}

body#body-pd{
    position: relative;
    margin: calc(var(--header-height) + 2rem ) 1rem 0 1rem;
    /* padding: 0 2rem; */
    /* background-color: #eee; */
}
a{
    text-decoration: none
}
.table-sm{
    font-size: 0.875rem!important;
}
.header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.8rem 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
}
.header_toggle{
    color: var(--primary);
    font-size: 1.5rem;
    cursor: pointer
}
.header_img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden
}
.header_img img{
    width: 40px
}
.l-navbar{
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--primary);
    padding: .5rem 1rem 0 0;
    z-index: var(--z-fixed)
}
.nav{
    height: 100%;
    overflow: hidden
}
.nav_logo, 
.nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}
.nav_logo{
    margin-bottom: 2rem
}
.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--white-color)
}
.nav_logo-name{
    color: var(--white-color);
    font-weight: 700
}
.nav_link{
    position: relative;
    color: var(--primary-light);
    margin-bottom: 1rem;
}
.nav_link:hover{
    color: var(--white-color)
}
.nav_link.logout:hover{
    color: #ff2d00;
}
.nav_icon{
    font-size: 1.25rem
    /* width: 16px; */
}
.show{
    left: 0
}
.body-pd{
    padding-left: calc(var(--nav-width) + 1rem)
}
/* .main-body-pd{
    padding-left: calc(var(--nav-width) + 5.7rem)
} */
.active{
    color: var(--white-color)
}
.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}
.height-100{
    height:100vh
}

.card.kelas:hover{
    background-color: rgba(0, 0, 0, 0.02);
}
.select2-container{
    width:100% !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background-color: var(--primary) !important;
}
@media screen and (min-width: 768px){
    body#body-pd{
        margin: calc(var(--header-height) + 2rem ) 0 0 0;
        /* margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem) */
    }
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 1rem 2rem 1rem calc(var(--nav-width) + 2rem)
    }
    main#main-body{
        padding: 0 2rem 0 0
    }
    .header_img{
        width: 40px;
        height: 40px
    }
    .header_img img{
        width: 45px
    }
    .l-navbar{
        left: 0;
    }
    .l-navbar.show{
        width: calc(var(--nav-width) + 156px)
    }
    .body-pd{
        padding-left: calc(var(--nav-width) + 180px)
    }
    .main-body-pd{
        padding-left: calc(var(--nav-width) + 2rem) !important
    }

}
